@*@model IEnumerable<TripExpress.Models.RoomModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/Index.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prixRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nbpersonne)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prixRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nbpersonne)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRoom">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRoom">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRoom">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@